---
import { getProject } from '../../actions/getProject';
import { getProjects } from '../../actions/getProjects';
import Layout from '../../layouts/Layout.astro';
import SectionContainer from '../../components/SectionContainer.astro';
import Tag from '../../components/Tag.astro';

import { fade } from 'astro:transitions';
import { CarouselDemo } from '@/components/Carousel';
import Layer from '@/components/icons/Layer.astro';
import LinkButton from '@/components/LinkButton.astro';
import GitHub from '@/components/icons/GitHub.astro';
import Link from '@/components/icons/Link.astro';

const {slug} = Astro.params

const project = await getProject(slug)

export async function getStaticPaths(){

    const projects = await getProjects()

    return projects.map(project => ({
        params:{ slug: project.slug}
    }))
}
---
<Layout title={project.title} description={project.summary}>
    <SectionContainer class="pt-10">
        <header>
            <h3 class="md:text-5xl text-3xl font-bold block mb-6" transition:name={`project ${project._id} title`}>{project.title}</h3>
            <picture class="size-80 mx-auto container">
                <img src={project.projectImage} alt={project.title} class="aspect-video rounded-xl" transition:name={`project ${project._id} image`}  />
            </picture>
        </header>
        <div transition:animate={fade({ duration: '0.7s' })} class="space-y-7">
            <div class="flex justify-between gap-x-4">
                {project.repositoryLink && (
                  <LinkButton href={project.repositoryLink}>
                    <GitHub class="size-6" />
                    Code
                    
                  </LinkButton>
                )}
                {project.webLink && (
                  <LinkButton href={project.webLink}>
                    <Link class="size-4" />
                    Preview
                  </LinkButton>
                )}
              </div>
            <div class="space-y-5">
                <p class="text-gray-700 dark:text-gray-400 text-lg">{project.summary}</p>
                <Tag technologies={project.technologies}/>
            </div>
            <div class="flex gap-2">
                <Layer class="size-8"/>
                <span class="md:text-2xl text-xl font-bold block mb-6">Some images</span>
            </div>
            <CarouselDemo images={project.projectImages} client:load />
            </div>
        </div>
    </SectionContainer>
</Layout>

<!-- <div class="grid sm:grid-cols-2 grid-cols-1 gap-3">
    {
        project.projectImages.map(image =>(
            <img class="aspect-video min-w-full" src={image.url} />
        ))
    } -->