---
import { getProject } from '../../actions/getProject';
import { getProjects } from '../../actions/getProjects';
import Layout from '../../layouts/Layout.astro';
import SectionContainer from '../../components/SectionContainer.astro';

const {slug} = Astro.params

const project = await getProject(slug)

export async function getStaticPaths(){

    const projects = await getProjects()

    return projects.map(project => ({
        params:{ slug: project.slug}
    }))
}
---
<Layout title={project.title} description={project.summary}>
    <SectionContainer class="pt-8">
        <header>
            <picture class="size-80 mx-auto container">
                <h1 class="text-3xl font-bold" transition:name={`project ${project._id} title`}>{project.title}</h1>
                <img src={project.projectImage} alt={project.title} class="aspect-video" transition:name={`project ${project._id} image`} loading="lazy"/>
            </picture>
        </header>
    </SectionContainer>
</Layout>